body{
    margin: auto;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-image: url("/static/starPictures/159.png");
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.box{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 60vh; /* 假设你希望容器占据全屏的高度 */
    margin: 50px auto;
}

.box form[id="loginForm"]{
    position: relative; /* 设置子元素为绝对定位 */
    top: -90px;
}
.box div[class="mess"]{
    color: white;
    padding: 14px 40px;
    text-align: center;
    position: relative; /* 设置子元素为绝对定位 */
    top: -70px;
}

.box div[class="title"]{
    color: red;
    padding: 14px 40px;
    text-align: center;
}
.box h1{
    margin-top: 200px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}
.box input{
    border-radius: 24px;
    border: 2px solid;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}

.box button{
    border-radius: 24px;
    border: 2px solid;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}

.box input:hover{
    border: 2px  solid lightcoral ;
    transform: scale(1.1);
}


