/* 样式重置（可选） */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 导航栏样式 */
nav ul {
    margin: 0 60px; /* 上下margin为0，左右margin自动（如果需要的话） */
    list-style-type: none; /* 移除默认的列表样式 */
}

nav ul li{
    float: left;
}

nav ul li a {
    display: block;
    color: #E37222;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li  span{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 在图标下方显示 */
    left: 50%; /* 居中 */
    margin-left: -60px; /* 使用宽度的一半来居中 */
    opacity: 0;
    transition: opacity 0.3s;
}

nav ul li a:hover {
    color: #078898;
}


/* 清除浮动，确保导航栏不会影响下面的布局 */
nav:after {
    content: "";
    display: table;
    clear: both;
}

/* 两列布局样式 */
main {
    display: flex;
    justify-content: space-between; /* 可选，用于在列之间添加空间 */
    margin: 0 60px 0 60px;
}

.column {
    flex: 1; /* 使其占据可用空间的相等部分 */
    padding: 10px;
}

.column-left {
    background-color: #FFCC00;
}

.column-right {
    background-color: #4CAF50;
}