body{
    margin: auto;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background-image: url("/static/159.png");
    opacity: 90%;
}
.box div[class="title"]{
    color: red;
    padding: 14px 40px;

}
.box h1{
    margin-top: 200px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}
.box input[type="text"],input[type="password"]{
    border-radius: 24px;
    border: 2px solid;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}
.box div[class="log"]{
    display: flex;
}
.box div[class="login"]{
    display: flex;
    margin-left: 0;
}
.box div[class="register"]{
    display: flex;
    margin-right: 0;
}
.box input[class="login"]{
    border-radius: 24px;
    border: 2px solid;
    background: none;
    display: inline-block;
    margin: 0 50% 0 auto;
    text-align: center;
    padding: 14px 20px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}

.box input[class="register"]{
    border-radius: 24px;
    border: 2px solid;
    background: none;
    display: inline-block;
    margin: 0 auto 0 0;
    text-align: center;
    padding: 14px 20px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}

.box input:hover{
    border: 2px  solid lightcoral ;
    transform: scale(1.1);
}
