<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/loginPage.css">
    <script  src="../static/js/loginPage.js"></script>
</head>

<body >
    <div class="box">
        <form id="loginForm" name="loginForm" method="post">
            <h1>Login</h1>
                <input type="text" id="username" name="username" placeholder="Username">
                <input type="text" id="password" name="password" placeholder="password">
                <button id="LoginUi" type="button" name="LoginUi" onclick="loginjs()">Login</button>
                <button id="register" name="Register" value="Register">Register</button>
        </form>
    </div>
</body>
</html>